
body, html {
  justify-content: center;
  align-items: center;
  background-color: #090d30;
  background-image: url('https://www.transparenttextures.com/patterns/stardust.png');
  background-size: cover;
  color: #e0e0e0;
  font-family: 'Cormorant Garamond', serif;
}

.container {
  text-align: center;
  width: 100%;
}

.pergunta {
  padding-top: 35%;
  font-size: 2rem;
  font-weight: 600;
  display: none;
  color: #e0e0e0;
}

#tiragemManual>p, #resultado>p {
  font-size: 2rem;
  font-weight: 600;
  color: #e0e0e0;
}

#pergunta1 {
  display: block;
}

.opcoes button {
  min-width: 150px;
  font-size: 1.1rem;
}

.btn-outline-primary {
  color: #e0e0e0;
  border-color: #9b59b6;
  background-color: rgba(0, 0, 0, 0.2);
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #9b59b6;
  border-color: #9b59b6;
}

.btn-outline-secondary {
  color: #e0e0e0;
  border-color: #3498db;
  background-color: rgba(0, 0, 0, 0.2);
}

.btn-outline-secondary:hover {
  color: #fff;
  background-color: #3498db;
  border-color: #3498db;
}

.text-muted {
  color: #b5b5b5 !important;
  font-size: 0.9rem;
  font-style: italic;
  margin-top: 10px;
  display: block;
}



table {
  border-style: none;
}

td {
  vertical-align: middle;
  text-align: center;
  width: 120px;
  border-style: none;
}

.waiteSmith, .cigano {
  display: none;
}

.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
}

.cardImage {
  width: 150px;
}

@media (max-width: 768px) {
  .cardImage {
    width: 50px; 
  }
}

.cardDesc {
  color: #e0e0e0; 
}

#interpretacao {
  font-size: 1.2rem; 
  color: #e0e0e0;
  padding-bottom: 50px;
}

#tiragemManual>span {
  padding-left: 10px;
  padding-bottom: 10px;
}

#resultado>span {
  padding-left: 10px;
  padding-bottom: 10px;
}

.resultado-span {
  display: inline-block;
  text-align: center; /* Alinha o texto no centro */
}